<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Employee dashboard</title>
</head>
<body bgcolor="lightblue">
	<div align="left">
		<h3>
			<a href="/project/home">HOME PAGE</a>
		</h3>
		<h3 align="right">
			<a href="/project/">LOGOUT</a>
		</h3>
	</div>
	<marquee behavior="scroll" direction="left" onmouseover="this.stop();"
		onmouseout="this.start();">
		<h3 style="color: red;">Please Assign Dependent and Project to
			new Employees</h3>
	</marquee>
	<div align="center">
		<h1>Employee Portal</h1>
		<br /> <br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>First Name</th>
					<th>SSN</th>
					<th>Dependent</th>
					<th>Project</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="emp : ${listEmp}">
					<td th:text="${emp.firstName}"></td>
					<td th:text="${emp.ssn}"></td>
					<td><a th:href="@{'/project/record/' + ${emp.ssn}}">Assign
							Dependent</a> &nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td><a th:href="@{'/project/assignProject/' + ${emp.ssn}}">Assign
							Project</a> &nbsp;&nbsp;&nbsp;&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>