<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Employee dashboard</title>
</head>
<body bgcolor="FAEBD7">
	<div align="center" cellpadding="10">
		<marque>
		<h1>Welcome to Manager's Portal</h1>
		</marque>
		<h3 align="right">
			<a href="/project/">LOGOUT</a>
		</h3>
		<h1 th:text="${emp.firstName}"></h1>
		<h1>Dashboard :-</h1>
		<br /> <br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Employee</th>
					<th>Dependents</th>
					<th>Project</th>
					<th>Report</th>
					<th>Logs</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="newUser">Insert Employee</a></td>
					<td><a href="findDependent">Find Dependent from Employee</a></td>
					<td><a href="findProject">Find Project from Employee</a></td>
					<td><a href="findReport">Generate Employee Report</a></td>
					<td><a href="findLogs">Generate Logs</a></td>
				</tr>
				<tr>
					<td><a href="list">Employees List</a></td>
					<td></td>
					<td><a href="deleteProject">Delete Project</a></td>
					<td><a href="scan">Scan Database</a></td>
				</tr>
				<tr>
					<td><a href="deleteEmployee">Delete Employee</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>